{
  "tagFormat": "v${version}",
  "repositoryUrl": "https://github.com/thibaultserti/gh-actions-reusable-workflows.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    ["@semantic-release/git", {
      "assets": ["CHANGELOG.md"],
      "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes} [skip ci]"
    }],
    "@semantic-release/github"
  ],
  "branches": "main"
}